<%- include('../_layouts/header') %>

<h2 class="page-title">Add a page</h2>
<a href="/products" class="btn btn-primary">Back to all Products</a>
<br /><br />

<form method="post" action="/admin/add_products" enctype="multipart/form-data">
  <div class="form-group">
    <label for="">Name</label>
    <input
      type="text"
      class="form-control"
      name="title"
      value="<%= title %>"
      placeholder="Title"
    />
  </div>

  <div class="form-group">
    <label for="">Price</label>
    <input
      type="text"
      class="form-control"
      name="slug"
      value="<%= price %>"
      placeholder="Price"
    />
  </div>
  <div class="form-group">
    <label for="">Categories</label>
    <select name="category" class="form-control">

      <%categories.forEach((cats)=>{  %>
        <option value="<% cats.slug %>"><%= cats.title %></option>

        <% })  %> 


    </select>
  </div>

  <div class="form-group">
    <label for="">Description</label>
    <textarea
      name="content"
      class="form-control"
      id="ta"
      cols="30"
      rows="10"
      placeholder="Content"
    >
<%= description %></textarea
    >
  </div>

 

  <button class="btn btn-default">Submit</button>
</form>

<%- include('../_layouts/footer') %>
